
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Freckle+Face&family=Lobster&display=swap');

html{font-size: 100%;}

        body{background-color: #6eb3db;
        color: #491e42;
        background-image: url(images/bg\ cloud.png);
        background-attachment: fixed;
        background-position: top center;}


        header{font: 400 5rem "freckle face", system-ui;
        color: #011f30;
        text-shadow: .05em .05em .05em #83bd41;}
        
        h1{font: 400 1.7rem "freckle face", system-ui;
        color: #83bd41;
        text-shadow: .06em .06em #000000;}
        
        h3{font: 400 2rem "amarante", serif;}

        p{font: 400 1rem "amarante", serif;}

        p,h1,h2,body{text-align: center;}
        ul {font-size: 1.5rem;
        list-style-type: none;
        margin: 0;
        padding: 0;}

        div.heading{background-color: #aec9da;
        padding: 3em 1em 3em 1em;
        border-radius: 100%;
        text-align: center;
        margin-top: 1em;
        margin:0 20% 0}

        em{color: #83bd41;
        text-shadow: .05em .05em .05em #000000;}

        .nav{transition: .3s;
            margin:0 1%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        display: inline-flex;
        margin:0 3.5%}

        .nav:hover{transform: scale(1.05);}


         footer{background-color: #491e42;}
    
        footer p{color: #83bd41;
        font-size: .8rem;}

        footer .nav{color:#011f30;
        font: 400 1rem "amarante", serif;
        }

        a:visited{color:#ffffff}
        
        a {text-shadow: .05em .05em .05em #000000;
        color: #83bd41;}

        .new{text-align: right;
            color: #011f30;
        font: 400 1.7rem "freckle face", system-ui;
        margin: 0 10% 0;
        padding-top: 1em;}

        .row {
        margin: 8px -16px;
        display: flex;
        justify-content: center;
        }
        .row,
        .row > .column {
        padding: 8px;
        }

        .column {
        float: left;
        width: 25%;
        }

        .row:after {
        content: "";
        display: table;
        clear: both;
        }

        .content {
        background-color: white;
        padding: 10px;
        }

        @media screen and (max-width: 100%) {
        .column {
         width: 50%;
        }
        }

        @media screen and (max-width: 100%) {
        .column {
        width: 100%;
        }
    }
        .whitet {
        width: 100%;
        height: 100%;
        background: url("images/whiteshirtflip.png") no-repeat;
    }
    .whitet:hover {
        background: url("images/whiteshirtflip2.png") no-repeat;
    }

     .btank {
        width: 100%;
        height: 100%;
        background: url("images/btankflip.png") no-repeat;
    }
    .btank:hover {
        background: url("images/btankflip2.png") no-repeat;}

    .brownt {
        width: 100%;
        height: 100%;
        background: url("images/brownshirtflip.png") no-repeat;
    }
    .brownt:hover {
        background: url("images/brownshirtflip2.png") no-repeat;}

        .dino {
        width: 100%;
        height: 100%;
        background: url("images/dinoflip.png") no-repeat;
    }
    .dino:hover {
        background: url("images/dinoflip2.png") no-repeat;}

        .ptank {
        width: 100%;
        height: 100%;
        background: url("images/purptankflip.png") no-repeat;
    }
    .ptank:hover {
        background: url("images/purptankflip2.png") no-repeat;}

        .bformal {
        width: 100%;
        height: 100%;
        background: url("images/bformalflip.png") no-repeat;
    }
    .bformal:hover {
        background: url("images/bformalflip2.png") no-repeat;}
    
     .floral {
        width: 100%;
        height: 100%;
        background: url("images/floralskirtflip.png") no-repeat;
    }
    .floral:hover {
        background: url("images/floralskirtflip2.png") no-repeat;
    }

     .booty {
        width: 100%;
        height: 100%;
        background: url("images/bootyshortflip.png") no-repeat;
    }
    .booty:hover {
        background: url("images/blueshortflip2.png") no-repeat;}

    .purple {
        width: 100%;
        height: 100%;
        background: url("images/purpleflip.png") no-repeat;
    }
    .purple:hover {
        background: url("images/purpleflip2.png") no-repeat;}

        .green {
        width: 100%;
        height: 100%;
        background: url("images/greenflip.png") no-repeat;
    }
    .green:hover {
        background: url("images/greenflip2.png") no-repeat;}

        .check {
        width: 100%;
        height: 100%;
        background: url("images/checkflip.png") no-repeat;
    }
    .check:hover {
        background: url("images/checkflip2.png") no-repeat;}

        .brown {
        width: 100%;
        height: 100%;
        background: url("images/brownflip.png") no-repeat;
    }
    .brown:hover {
        background: url("images/brownflip2.png") no-repeat;}

    .whitevan {
        width: 100%;
        height: 100%;
        background: url("images/wvanflip.png") no-repeat;
    }
    .whitevan:hover {
        background: url("images/wvanflip2.png") no-repeat;
    }

     .boot {
        width: 100%;
        height: 100%;
        background: url("images/bootflip.png") no-repeat;
    }
    .boot:hover {
        background: url("images/bootflip2.png") no-repeat;}

    .heel {
        width: 100%;
        height: 100%;
        background: url("images/heelflip.png") no-repeat;
    }
    .heel:hover {
        background: url("images/heelflip2.png") no-repeat;}

        .croc {
        width: 100%;
        height: 100%;
        background: url("images/crocflip.png") no-repeat;
    }
    .croc:hover {
        background: url("images/crocflip2.png") no-repeat;}

        .bvan {
        width: 100%;
        height: 100%;
        background: url("images/bvanflip.png") no-repeat;
    }
    .bvan:hover {
        background: url("images/bvanflip2.png") no-repeat;}

        .sandal {
        width: 100%;
        height: 100%;
        background: url("images/sandalflip.png") no-repeat;
    }
    .sandal:hover {
        background: url("images/sandalflip2.png") no-repeat;}