
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Freckle+Face&family=Lobster&display=swap');

html{font-size: 100%;}

        body{background-color: #6eb3db;
        color: #491e42;
        background-image: url(images/bg\ cloud.png);
        background-attachment: fixed;
        background-position: top center;}


        header{font: 400 5rem "freckle face", system-ui;
        color: #011f30;
        text-shadow: .05em .05em .05em #83bd41;}
        
        h1{font: 400 1.7rem "freckle face", system-ui;
        color: #83bd41;
        text-shadow: .06em .06em #000000;}
        
        h3{font: 400 2rem "amarante", serif;}

        p{font: 400 1rem "amarante", serif;}

        p,h1,h2,body{text-align: center;}
        ul {font-size: 1.5rem;
        list-style-type: none;
        margin: 0;
        padding: 0;}

        div.heading{background-color: #aec9da;
        padding: 3em 1em 3em 1em;
        border-radius: 100%;
        text-align: center;
        margin-top: 1em;
        margin:0 20% 0}

        em{color: #83bd41;
        text-shadow: .05em .05em .05em #000000;}

        a:visited{color:#ffffff}
        
        a {text-shadow: .05em .05em .05em #000000;
        color:#83bd41}

        .nav{transition: .3s;
            margin:0 1%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        display: inline-flex;
        margin:0 3.5%}

        .nav:hover{transform: scale(1.05);}


         footer{background-color: #491e42;}
    
        footer p{color: #83bd41;
        font-size: .8rem;}

        footer .nav{color:#011f30;
        font: 400 1rem "amarante", serif;
        }

        .new{text-align: right;
            color: #011f30;
        font: 400 1.7rem "freckle face", system-ui;
        margin: 0 10% 0;
        padding-top: 1em;}

        .row {
        margin: 8px -16px;
        display: flex;
        justify-content: center;
        }
        .row,
        .row > .column {
        padding: 8px;
        }

        .column {
        float: left;
        width: 25%;
        }

        .row:after {
        content: "";
        display: table;
        clear: both;
        }

        .content {
        background-color: white;
        padding: 10px;
        }

        @media screen and (max-width: 100%) {
        .column {
         width: 50%;
        }
        }

        @media screen and (max-width: 100%) {
        .column {
        width: 100%;
        }
        }