
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Bungee&family=Freckle+Face&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Bungee&family=Freckle+Face&family=Lobster&display=swap');


html{font-size: 100%;}
        body{
            background-color: #8bffb2;
        }
         h1{font: 400 50px "bungee", sans-serif;
           color: #ffffff;
           background-color: #052410;
            text-align: center;
            padding: 10px;
            margin: 20px;
            border-radius: 30px;
            
         }
          h2{
            color:#ffffff;
            font: 400 20px "bricolage grotesque", sans-serif;
            text-align: center;
            background-color: #052410;
            margin-left: 400px;
            margin-right: 400px;
          }
        img{
            max-width: 100%;
            height: auto;
        }
        p{
            text-align: center;
        }
        a{color: #ffffff;}
        a:visited{color: #00ff37;}
     